# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# Start ignore for no file extensions
# http://stackoverflow.com/questions/19023550/how-do-i-add-files-without-dots-in-them-all-extension-less-files-to-the-gitign
*
!/**/
!*.*
# End ignore for no file extensions

# Ignore vpd
*.vpd